.main {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 100px 10px 100px;
}

.main__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 80px;
  font-style: italic;
  font-weight: 700;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
}

.main__crypto_image {
  width: 120px;
  height: 120px;
}

.main__image {
  width: 100px;
  height: 100px;
}
