.coin__content {
  display: flex;
  padding: 100px 175px 15px 175px;
  gap: 150px;
}

.coin__content_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.coin__content_description_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.coin__content_description_content {
  margin-top: 50px;
}

.coin__content_name_text {
  font-weight: 900;
  font-size: 25px;
  color: white;
}

.coin__content_description_price_text {
  font-size: 25px;
  font-weight: 500;
}