.head-text {
  padding: 5px 0px 20px 140px;
}

.header-coin {
  padding: 20px 80px 20px 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: linear-gradient(to right, rgb(83, 83, 134), pink);
}

.header-coin__name {
  padding: 25px 120px 10px 140px;
  display: grid;
  grid-template-columns: 5fr 18fr 25fr 25fr 15fr;
  align-items: center;
  justify-items: start;
  text-decoration: none;
  color: white;
}

.list {
  background-color: rgb(64, 7, 81);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px 30px 0px;
}

.pagination__button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.pagination__button:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}
