.content_title {
  width: 100%;
  height: 100%;
}

.content_title__title {
  padding: 0px 0px 5px 100px;
  font-size: 45px;
  font-weight: 900;
}

.content_title__text {
  padding: 0px 100px 0px 100px;
  font-size: 25px;
}

.content_faq {
  font-size: 20px;
  padding: 15px 120px 15px 100px;
  display: flex;
  flex-direction: column;
}