.field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.field__border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  height: 300px;
  border-width: 0px;
}

.field__border_a {
  display: flex;
  justify-content: flex-end;
  width: 330px;
  font-weight: 300;
  font-size: 11px;
  text-decoration: none;
}

.field__border_a_a {
  text-decoration: none;
  color: rgb(219, 10, 10);
  font-size: 15px;
}

.field__border_login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field__border_input {
  width: 320px;
  height: 30px;
  border-radius: 20px;
  border-width: 0px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.field__border_title {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 40px;
}

.field__border_check {
  margin-bottom: 25px;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.field__border_button {
  display: flex;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  color: white;
}