.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px 25px 80px;
}

.header__title {
  font-weight: 900;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.header__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.header__main_image {
  color: azure;
}

.header__main_a {
  text-decoration: none;
  color: white;
}

.header__main_a:hover {
  color: brown;
}

.header__button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  text-decoration: none;
}
.header__button:hover::before {
  transform: scaleX(1);
}

.header__button-content {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding-top: 10px;
}

.header__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}